USE [SupermercadoDB]
GO
/****** Object:  Table [dbo].[TB_MERCADO]    Script Date: 19/10/2023 02:15:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_MERCADO](
	[ID] [int] NOT NULL,
	[DESCRICAO] [varchar](50) NOT NULL,
	[BAIRRO] [varchar](50) NOT NULL,
	[CIDADE] [varchar](50) NOT NULL,
	[DATA_ATUALIZACAO] [datetime] NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
 CONSTRAINT [PK_TB_MERCADO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_PESQUISEI]    Script Date: 19/10/2023 02:15:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_PESQUISEI](
	[ID] [int] NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[ID_MERCADO] [int] NOT NULL,
	[ID_PRODUTO] [int] NOT NULL,
	[PRECO] [decimal](18, 2) NOT NULL,
	[DATA_ATUALIZACAO] [datetime] NOT NULL,
 CONSTRAINT [PK_TB_PESQUISEI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_PRODUTO]    Script Date: 19/10/2023 02:15:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_PRODUTO](
	[ID] [int] NOT NULL,
	[DESCRICAO] [varchar](50) NOT NULL,
	[EAN] [varchar](13) NOT NULL,
	[DATA_ATUALIZACAO] [datetime] NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
 CONSTRAINT [PK_TB_PRODUTO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_USUARIO]    Script Date: 19/10/2023 02:15:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_USUARIO](
	[ID] [int] NOT NULL,
	[NOME_USUARIO] [varchar](50) NOT NULL,
	[LOGIN] [varchar](50) NOT NULL,
	[SENHA] [varchar](50) NOT NULL,
	[ATIVO] [varchar](2) NOT NULL,
	[DATA_ATUALIZACAO] [datetime] NOT NULL,
	[ROLES] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TB_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_MERCADO]  WITH CHECK ADD  CONSTRAINT [FK_TB_MERCADO_TB_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[TB_USUARIO] ([ID])
GO
ALTER TABLE [dbo].[TB_MERCADO] CHECK CONSTRAINT [FK_TB_MERCADO_TB_USUARIO]
GO
ALTER TABLE [dbo].[TB_PESQUISEI]  WITH CHECK ADD  CONSTRAINT [FK_TB_PESQUISEI_TB_MERCADO] FOREIGN KEY([ID_MERCADO])
REFERENCES [dbo].[TB_MERCADO] ([ID])
GO
ALTER TABLE [dbo].[TB_PESQUISEI] CHECK CONSTRAINT [FK_TB_PESQUISEI_TB_MERCADO]
GO
ALTER TABLE [dbo].[TB_PESQUISEI]  WITH CHECK ADD  CONSTRAINT [FK_TB_PESQUISEI_TB_PRODUTO] FOREIGN KEY([ID_PRODUTO])
REFERENCES [dbo].[TB_PRODUTO] ([ID])
GO
ALTER TABLE [dbo].[TB_PESQUISEI] CHECK CONSTRAINT [FK_TB_PESQUISEI_TB_PRODUTO]
GO
ALTER TABLE [dbo].[TB_PESQUISEI]  WITH CHECK ADD  CONSTRAINT [FK_TB_PESQUISEI_TB_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[TB_USUARIO] ([ID])
GO
ALTER TABLE [dbo].[TB_PESQUISEI] CHECK CONSTRAINT [FK_TB_PESQUISEI_TB_USUARIO]
GO
ALTER TABLE [dbo].[TB_PRODUTO]  WITH CHECK ADD  CONSTRAINT [FK_TB_PRODUTO_TB_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[TB_USUARIO] ([ID])
GO
ALTER TABLE [dbo].[TB_PRODUTO] CHECK CONSTRAINT [FK_TB_PRODUTO_TB_USUARIO]
GO
